td{
  border: 1px solid grey;
}

table{
  border: 7px dotted #005778;
  height:300px;
   overflow-y:scroll; 
   display:block;
   width:fit-content;
   margin-top: 5%;
}

.tableSpacer{
  background-color: grey;
}

#header{
  background-color: #FFB612;
  opacity: 75%;
  font-size: 24px;
}

#venue{
  color: #9F792C;

}

#city{
  color: #9F792C

}

#team{
  color: #9F792C

}